body {
	margin-top:110px!important;
}
/* nav css start here */
nav {min-height:80px!important;background:white!important;border:none!important;-webkit-box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.4);
box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.4);}
nav .container{padding-top:15px!important;}
nav #navbar {border:none!important;}
nav a{font-weight:bold;}
.active a{background-color:#337ab7!important;color:white!important;}
.icon-bar {background-color:white!important;}
/* nav css ends here*/
/*css for word displayed under avatar*/
#currentWord{
  width: 63%;
  margin: 0 auto;
  margin-top: 0px;
  text-align: center;
  margin-top: 10px;
  font-size: 22px;
  padding: 5px;
  font-weight: bold;
}
#debugger {
    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 16px;
    margin-top: 5px;	
}
.myloader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: white;
  }
  .innerloader{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .clock-loader {
    --clock-color: #0F0;
    --clock-width: 8rem;
    --clock-radius: calc(var(--clock-width) / 2);
    --clock-minute-length: calc(var(--clock-width) * 0.4);
    --clock-hour-length: calc(var(--clock-width) * 0.2);
    --clock-thickness: 0.2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--clock-width);
    height: var(--clock-width);
    border: 3px solid var(--clock-color);
    border-radius: 50%;
  }
  
  .clock-loader::before,
  .clock-loader::after {
    position: absolute;
    content: "";
    top: calc(var(--clock-radius) * 0.25);
    width: var(--clock-thickness);
    background: var(--clock-color);
    border-radius: 10px;
    transform-origin: center calc(100% - calc(var(--clock-thickness) / 2));
    animation: spin infinite linear;
  }
  
  .clock-loader::before {
    height: var(--clock-minute-length);
    animation-duration: 2s;
  }
  
  .clock-loader::after {
    top: calc(var(--clock-radius) * 0.25 + var(--clock-hour-length));
    height: var(--clock-hour-length);
    animation-duration: 15s;
  }
  
  @keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }
  .crtwd{
    position: absolute;
    top:0;
    left:0;
    right:0;
  }
  



